body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  grid-area: header;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2ce1e4;
  height: 80px;
}

nav h1 {
  color: black;
  font-weight: 300;
  font-size: 20px;
}

nav i {
  color: black;
  font-size: 25px;
  margin: 0 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-items {
  display: none;
}

.nav-items li {
  margin: 10px 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.nav-items li a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
}

.filters {
  grid-area: filters;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4c4c4;
  padding: 20px;
}

.filters p {
  font-size: 19px;
  margin: 0;
}

.filters select {
  width: 90%;
  font-size: 18px;
  border: none;
  height: 50px;
  padding-left: 10px;
  margin-top: 5px;
}

.filters option {
  font-size: 12px;
}

.main {
  grid-area: main;
}

.banner {
  grid-area: banner;
  img {
    width: 100%;
    margin-bottom: -10px;
  }
}

.ads {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 30px;
  p {
    color: white;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  flex-grow: 1;
  height: 61vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  min-height: 500px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}

.card .image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.card .content {
  padding-top: 350px;
}

.card img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.card img.hover-img {
  opacity: 0;
}

.card:hover img.normal-img {
  opacity: 0;
}

.card:hover img.hover-img {
  opacity: 1;
}

.card p {
  margin: 15px 0 0;
  font-size: 1.1em;
}

.card button {
  background-color: #2ce1e4;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  font-size: 1.1em;
  width: auto;
}

.card button:hover {
  background-color: #2ce1e4;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.pagination a {
  color: #2ce1e4;
  float: left;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #2ce1e4;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

footer {
  grid-area: footer;
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;
}

.social-icons li {
  margin: 0 5px;
  padding: 0;
}

.social-icons li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (min-width: 576px) {
  body {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-areas:
      "header banner"
      "header filters"
      "header main"
      "footer main";
    height: 100vh;
  }

  nav {
    flex-direction: column;
    padding-top: 10px;
    height: 100%;
  }

  nav i:first-child {
    font-size: 18px;
  }

  nav i:last-child {
    display: none;
  }

  nav h1 {
    font-size: 16px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0;
    list-style: none;
  }

  .filters {
    height: 60px;
  }

  .card-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin: 20px;
    height: 71vh;
  }

  .card {
    width: 100%;
  }

  .pagination {
    grid-column: span 4;
  }

  footer {
    margin-top: 0px;
    background-color: #000000;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  body {
    grid-template-columns: 25% auto;
    grid-template-areas:
      "header header"
      "banner banner"
      "filters main"
      "footer footer";
  }

  .ads {
    margin-top: 10px;
    margin-bottom: -5px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-items {
    flex-direction: row;
    margin: 0;
    padding-right: 20px;

    li {
      padding-left: 10px;
    }
  }

  .filters {
    height: 100%;
    margin-top: 5px;

    p {
      font-size: 13px;
    }
  }

  .filters select {
    font-size: 13px;
  }

  .card-content {
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 20px;
    height: 71vh;
  }
}
